{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">I Love to build things that actually work</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          As Student :
          Hi guys i am ajay and i study in tier 3 college and i don't
          like to go to college attending classes just for 75 percentage 
          attandance.
        </p>
        <p>
          As Developer :
          Hi Guys you can call me anything and i love to build new things
          that acutally works and usefull don't forgot to checkout my github
          and linkedin i documented everthing i have done.
        </p>
        <p>
          As Human:
          I Don't Like College OR Coding Nothing I am Doing This is Just for
          Interst In Tech I wish i could have become Gamer with fashion of photography
          i wanna travel at the end i just want to be free as Luffy.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
